
<app-navbarfake></app-navbarfake>

<div class="container"  >
  <div class="row"  >
    <div class="col-12" style="margin-top:70px; font-size:20px">
      <h1>Pathwork giúp bạn làm việc có tính hợp tác hơn và làm được nhiều hơn</h1>
      <p>Các bảng, danh sách, và thẻ của Pathwork cho phép bạn tổ chức và ưu tiên các dự án của bạn một cách vui
        vẻ, linh hoạt và xứng đáng.</p>
    </div>
    <div class="col-6">
      <img src="    " alt="" height="60%">

    </div>

      <div class="col-6">
        <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/913d037210d505b02d23d4d67cc49d1d/card-back.svg" alt="" height="70%">
      </div>
      <div class="col-6" style="font-size:20px; margin-top:120px">
        <h1>Thông tin nhanh</h1>
        <p>Đi vào chi tiết bằng cách thêm bình luật, tệp đính kèm,
           ngày</p>
           <p> hết hạn và trực tiếp hơn vào thẻ Trello. Cộng tác trên các dự án từ đầu đến cuối.</p>
      </div>

    <div class="row">
      <div class="col-6" style="margin-top:80px; font-size: 20px">
        <h1>Tự động hóa quy trình </h1>
        <h1>làm việc tích hợp sẵn với Butler</h1>
        <p>Hãy để robot làm việc! Tăng năng suất bằng </p>
        <p>cách giải phóng sức mạnh tự động hóa trong toàn bộ nhóm của bạn với</p>
        <p>Butler và xóa các tác vụ tẻ nhạt </p>
        <p>khỏi các danh sách việc cần làm của bạn với:</p>
        <p>Kích hoạt dựa trên quy tắc
          Thẻ tùy chỉnh & các nút bảng
          Lệnh lịch
          Lệnh ngày hết hạn</p>
      </div>
      <div class="col-6" >
        <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/06f0833d33e1d71bbf0858029839b406/butler.png" alt="" height="60%">
      </div>
    </div>




  </div>
</div>
