<h1 mat-dialog-title>Add New Board</h1>
<div mat-dialog-content style="display: flex; flex-direction: column;">
    <mat-form-field appearance="outline">
        <mat-label>Add Title</mat-label>
        <input  matInput [formControl]="titleControl" placeholder="Add title">

    </mat-form-field>
    <mat-form-field  appearance="outline">
        <mat-chip-list #chipList >
            <mat-chip
              *ngFor="let email of arraySharedEmail"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(email)">
              {{email}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input style="height: 50px;"
              placeholder="Add Email"
              #emailInput
              [formControl]="emailSharedControl"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>

    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end">
    <button mat-stroked-button class="button-confirm" (click)="cancelClick()">Cancel</button>
    <button mat-stroked-button style="background-color:limegreen; color: white;" (click)="addClick()" class="button-confirm" >Add</button>
</div>