<div class="container" style="display: flex; justify-content: center; text-align: center">
    <div class="row">
      <div class="col-sm-12">
        <a>
            <img class="logo" src="https://cdn.iconscout.com/icon/free/png-256/list-484-1126444.png" alt="logo" style="width: 100px; height: 100px">
        </a>
      </div>
      <div class="col-sm-12" style="margin-top: 40px">
          <mat-form-field appearance="fill" style="width: 300px;">
              <mat-label>Enter your name</mat-label>
              <input matInput placeholder="Enter your name" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

      </div>
      <div class="col-sm-12 ">

          <mat-form-field appearance="fill" style="width: 301px;">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <button id='login' mat-raised-button color="primary" (click)='signin()' style="margin-top: 20px">Đăng nhập</button>
        </div>
        <div class="col-sm-12">
          <h2 style="margin-top: 30px"> Hoặc</h2>
        </div>
        <div class="col-sm-12" style="margin-top: 20px">
          <button mat-raised-button id='google' style="width: 310px;font-size:large;outline:none;"
          *ngIf="authService.user$ == null" (click)='googleSignin()'><img id='logogg'
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png" width="20px" height="20px">Đăng nhập với Google</button>

        </div>
        <div class="col-sm-12" style="margin-top: 50px">
    path: 'register',
          <a >Nếu bạn chưa có tài khoản -><button style="font-size: large;outline:none"  [routerLink]="['/register']"  >Đăng kí</button></a>
        </div>
        <div class="col-sm-12">
          Bạn sẽ phải đăng ký và chấp thuận

          
        </div>
        <div class="col-sm-12">
            <a routerLink='' target="_blank">các Điều khoản & Điều kiện</a> và

            <a routerLink='' target="_blank"> Chính sách Quyền riêng tư của Pathwork</a>

        </div>
    </div>
  </div>






